<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <title>CPA Due Dates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <div class="mt-0">
        <div class="alertFlash">
            <% if(error && error.length > 0){ %>
            <div class="alert alert-danger"><%= error %></div>
            <% } %>
        </div>
        <div class="alertFlash">
            <% if(success && success.length > 0){ %>
            <div class="alert alert-success"><%= success %></div>
            <% } %>
        </div>
    </div>

    <header id="topHead">
        
        <div class="cpa">
            <h5 class="my-3 ml-3 colorRed">CPA 2023</h5>
        </div>
        <% if(!currentUser){ %>
        <div class="form-container">
            <form id="form-section" action="/login" method="post" class="mt-3">
                <div class="form-row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control formInputs" type="text" name="username" placeholder="username">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <input class="form-control formInputs" type="password" name="password"
                                placeholder="password">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <button class="btn btn-md btn-primary btn-block login">Login</button>
                        </div>
                    </div>
                </div>
            </form>
            <% } else { %>
            <div id="logged-in">
                <li class="loggedin">
                    Logged In As:
                    <span class="colGreen">
                        <%= currentUser.username %>
                    </span>
                    <span class="logout">
                        <a href="/logout">Logout</a>
                    </span>
                </li>
            </div>
            <% } %>
        </div>
    </header>