<%- include('../partials/header') %>

<section class="mainSection">
    <h2>Class Four</h2>
    <form action="/four" method="POST">
        <div class="form-group">
            <label for="task">Task Name</label>
            <input type="text" name="task" id="task" placeholder="eg: Test #1" required>
        </div>
        <div class="form-group">
            <label for="dueDate">Due Date</label>
            <input type="datetime-local" id="date" name="date" required>
        </div>
        <div class="form-group backSubmitButton">
            <input class="btn btn-info" type="button" onclick="history.go(-1);" value="Back">    
            <input class="btn btn-success" type="submit" value="Submit">
        </div>
     </form>
</section>

<%- include('../partials/footer') %>    