* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
}

header a {
    color: #d81118;
}

section h4 {
    color: #000;
}

section div.courseHeading {
    color: black;
    border-bottom: 2px solid #d81118;
}

a {
    text-decoration: none;
    color: #d81118;
}

a:hover {
    color: #d67f82;
    text-decoration: none;
}

label, input {
    display: block;
}

.articleBg {
    margin-top: 2rem;
    background-color: #828286;
    padding: 16px;
    border-radius: 1em;
    border: 1px solid black;
}

.fa-plus {
    color:lime;
}

.fa-edit {
    margin-left: 1rem;
    color: rgb(143, 152, 248);
}

.fa-trash-alt {
    margin-left: 0.5rem;
    color: #d67f82;
}

.mainSection {
    padding: 1rem;
    border-radius: 1rem;
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
    color:  #991012d8;
    display: flex;
    flex-direction: column;
}

.backSubmitButton {
    text-align: center;
}

.taskName {
    color:rgb(227, 243, 7);
}

.submit {
    white-space: nowrap;
    color: rgb(9, 247, 29)
}

#courseList li {
    margin-left: 1rem;
    color: #FFF;
    font-weight: bold;
}

@media (min-width: 768px) {

}