* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6C757D;
    color: whitesmoke;
}

article {
    margin-top: 2rem;
}

section h4 {
    color: rgb(252, 35, 35)
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: lightgrey;
    text-decoration: none;
}

label, input {
    display: block;
}

.fa-plus {
    color:lime;
}

.fa-edit {
    margin-left: 1rem;
    color: darkblue;
}

.fa-trash-alt {
    margin-left: 0.5rem;
    color: darkred;
}

.mainSection {
    padding: 1rem;
    border-radius: 1rem;
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
    background-color: darkslategray;
    display: flex;
    flex-direction: column;
}

.backSubmitButton {
    text-align: center;
}

.taskName {
    color:rgb(141, 139, 247);
}

#courseList li {
    margin-left: 1rem;
    color: rgb(207, 189, 20);
    font-weight: bold;
}

@media (min-width: 768px) {

}