* {
    margin: 0;
    padding: 0;
}

body {
    color: #000;
}

header a {
    color: #d81118;
}

section h4 {
    color: #000;
}

section div.courseHeading {
    color: black;
    border-bottom: 2px solid #d81118;
}

a {
    text-decoration: none;
    color: #d81118;
}

a:hover {
    color: #d67f82;
    text-decoration: none;
}

label, input {
    display: block;
}

.articleBg {
    margin-top: 2rem;
    background-color: #828286;
    padding: 16px;
    border-radius: 1em;
    border: 1px solid black;
}

.fa-plus {
    color:lime;
}

.fa-edit {
    margin-left: 1rem;
    color: rgb(143, 152, 248);
}

.fa-trash-alt {
    margin-left: 0.5rem;
    color: #d67f82;
}

.mainSection {
    padding: 1rem;
    border-radius: 1rem;
    width: 95%;
    margin: auto;
    margin-bottom: 1rem;
    color:  #e75459;
    display: flex;
    flex-direction: column;
}

.articleBg h5 {
    text-shadow: 1px 1px 1px black;
}

.backSubmitButton {
    text-align: center;
}

.taskName {
    color:rgb(227, 243, 7);
}

.submit {
    white-space: nowrap;
    color: rgb(9, 247, 29)
}

.colorRed {
    color: rgb(238, 45, 45);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

.colorYellow {
    color: rgb(250, 166, 11);
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}

div.dates li {
    margin-left: 1rem;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

ul.notice li {
   list-style: none;
}

.disclaimer {
    border-top: 1px solid grey;
    padding-top: 1em;
    font-size: small;
    font-style: italic;
}

.logout {
    list-style: none;
    margin-left: 2em;
}

.loggedin {
    list-style-type: none;
    font-weight: bold;
}

.colGreen {
    color: rgba(1, 255, 77, 0.699);
    text-shadow: 1px 1px 2px black;
}

label {
    display: inline;
}

input[type=checkbox] {
    display: inline;
}

input[type=checkbox]:checked + label {
    text-decoration: line-through solid black;
    opacity: 0.2;
    font-style: italic;
} 

.form-container {
    width: 40%;
    float: right;
    margin-top: -130px;
}


#topHead {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px black;
}

#totalTasks {
    font-weight: bold;
}

#form-section {
    margin-top: 1em;
}

#logged-in {
    margin-top: 1em;
}

@media (max-width: 765px) {
    .infos {
        border: 1px solid black;
        padding: 1em;
        margin: 1em;
    }

    .form-container {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-top: 0;
        width: 60%;
    }
    
}